.theme-filter {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    margin: 12px 0 25px;
    padding: 0 10px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    border: 1px solid #ccd0d4;
    background: #fff;
    color: #555;
    font-size: 13px;
}

.theme-filter-links {
    float: left;
    margin: 0;
}

.themebing-search {
    float: right;
    margin: inherit;
    margin-bottom: 0;
}

.theme-filter-links li {
    display: inline-block;
    margin: 0;
}

.theme-filter-links li a {
    display: inline-block;
    margin: 0 10px;
    padding: 15px 0;
    border-bottom: 4px solid #fff;
    color: #666;
    text-decoration: none;
}

.theme-filter-links li.current a {
    box-shadow: none;
    border-bottom: 4px solid #666;
    color: #23282d;
}

.themes-showcase .theme-browser .theme .theme-screenshot {
    height: 200px;
}